$primary-color: #722410;
$secondary-color: #f8f4ed;
$background-color: #f8f8f8;
$button-color: #722410;
$text-color: #0a5247;
$font-stack: "Montserrat", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    background-color: $background-color;
    color: $text-color;
    text-align: center;
}
.header {
    background-color: $primary-color;
    color: $secondary-color;
    padding-left:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
        text-align: left;
        padding-left: 4rem;
    }

    &__title {
        font-size: 2.5rem;
        margin-bottom: 0.625rem;
        text-transform: uppercase;
    }

    &__description {
        font-size: 1.2rem;
        width: 70%;
    }

    &__image {
        width: 50%;
        height:auto;
    }
}

.input-section {
    background: $secondary-color;
    height: 25.25rem;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 2rem;
        margin-bottom: 1.25rem;
    }

    &__textbox {
        width: 30rem;
        height: 10rem;
        padding: 0.0625rem;
        font-size: 1rem;
        border: 2px solid $primary-color;
        border-radius: 0.3125rem;
        margin-bottom: 1.25rem;
        
    }

    &__button {
        background-color: $button-color;
        color: $secondary-color;
        border: none;
        padding: 0.625rem 1.25rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 0.3125rem;
        cursor: pointer;
    }
}

.form{
    display: flex;
    flex-direction: column;
}

.recipe-section {
    background: $text-color;
    color: $secondary-color;
    height: 31.25rem;
    margin: 0rem auto;
    padding: 1.25rem;

    &__title {
        font-size: 1.8rem;
        margin-bottom: 1.25rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 10px;
    }
    &__item {
        background: white;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        width: 300px; 
        max-width: 90%;
    }
    &__item h3 {
        color: #333;
        font-size: 20px;
        margin-bottom: 10px;
    }
    &__img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 10px;
    }
}

.hidden {
    display: none;
}